
:root {
    --primary-text: #9b9b9b;
    --secondary-text: #676767;
    --background-dark: #121212;
    --background-primary: #252525;
    --background-secondary: #464646;
    --highlight: #d9d9d9;
}
